body {
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
}

.heather
{
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    font-family:'Azeret Mono', monospace;

}

.box
{
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(78, 172, 255);
    width: 500px;
    height: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 20px;
    border: none;
}

.card-num {
    position: absolute;
    top: 85px;
    left: 30%;
    font-size: 25px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card
{
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    width: 500px;
    height: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
}

.website-address
{
    position: absolute;
    top: 15px;
    left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.first-line
{
    cursor: pointer;
    background-color: rgb(78, 78, 78);
    position: absolute;
    width: 500px;
    top: 46px;
    height: 40px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
}

.date
{
    position: absolute;
    top: 110px;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.code
{
    position: absolute;
    top: 110px;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nameoncard
{
    position: absolute;
    top: 135px;
    left: 26.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.second-line
{
    cursor: pointer;
    background-color: rgb(78, 78, 78);
    position: absolute;
    width: 150px;
    top: 170px;
    height: 25px;
    left: 23.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
}

.usandcanada
{
    position: absolute;
    margin-right: -10%;
    font-size: 12px;
    top: 200px;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.collect
{
    position: absolute;
    margin-right: -20%;
    font-size: 12px;
    top: 219px;
    left: 77.6%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cash
{
    position: absolute;
    margin-right: -20%;
    font-size: 17px;
    top: 248px;
    left: 78.8%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box
{
   background: linear-gradient( to right, rgb(235, 51, 255), rgb(12, 158, 255));
}

.card:hover{
    box-shadow: 2px 2px 100px;
}
